{
	auto_https off
}

:80 {
	@websocket {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	@nip11 {
		header Accept application/nostr+json
	}
	
	root * /srv

	route {
		reverse_proxy @websocket shiritori_relay:7777
		reverse_proxy @nip11 shiritori_router:7777
		file_server
	}
}
