name: CI
on:
  pull_request:
  
jobs:
  sifter:
    name: sifter
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./sifter
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
      - run: go vet ./...
      - run: go test ./...
  
  yomi-api:
    name: yomi-api
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./yomi-api
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
      - run: go vet ./...
      - run: go test ./...

  ritrin:
    name: ritrin
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ritrin  
    steps:
      - uses: actions/checkout@v6
      - uses: denoland/setup-deno@v2.0.3
        with:
          deno-version: "~2.6"
      - run: deno fmt --check
      - run: deno lint
      #- run: deno task check # deno check **/*.ts
      - run: deno task test # deno test -A --unstable-kv --unstable-temporal --no-check

  typos:
    name: Detect typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: crate-ci/typos@v1.43.4
