name: Deno Update 

on:
  schedule:
    # every Saturday at 09:00 UTC (00:00 JST)
    - cron: "0 9 * * 6"
  workflow_dispatch:

jobs:
  update:
    permissions:
      contents: write
      pull-requests: write

    runs-on: ubuntu-latest

    steps:
      - name: Generate GitHub App token
        uses: tibdex/github-app-token@3beb63f4bd073e61482598c45c71c1019b59b73a # v2.1.0
        id: create_token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.PRIVATE_KEY }}

      - name: Setup repo
        uses: actions/checkout@v6
        with:
          token: ${{ steps.create_token.outputs.token }}

      - name: Setup Deno
        uses: denoland/setup-deno@v2.0.3
        with:
          deno-version: "~2.6"

      - name: Update dependencies with `deno outdated`
        id: deno-outdated
        working-directory: "./ritrin"
        run: |
          RESULT=$(deno outdated --update 2>&1 | grep -v -e '^Download') || true
          echo "result<<EOF" >> $GITHUB_OUTPUT
          echo "$RESULT" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

          if git diff --quiet; then
            UPDATED="false"
          else
            UPDATED="true"
          fi
          echo "updated=$UPDATED" >> $GITHUB_OUTPUT

          echo "result:"
          echo "$RESULT"
          echo
          echo "updated: $UPDATED"
        env:
          NO_COLOR: "1"

      - name: Create Pull Request
        if: steps.deno-outdated.outputs.updated == 'true'
        uses: peter-evans/create-pull-request@v8
        with:
          token: ${{ steps.create_token.outputs.token }}
          commit-message: "chore(deps): update deno dependencies"
          branch: chore/update-deno-deps
          delete-branch: true
          title: "chore(deps): Update Deno Dependencies"
          body: |
            Updated dependencies with `deno outdated --update`:

            ```
            ${{ steps.deno-outdated.outputs.result }}
            ```
          labels: |
            dependencies
